#buttons-space{
	margin-top: 10%;
}

.editButton{
	text-align: left;
    padding: 10px 25px 10px 20px;
    white-space: nowrap;
    color: #495463;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    display: flex;
	align-items: center;
	text-decoration: none;
	outline: 0;
    transition: all 0.5s;
	color: #1c65c9;
	color: #007bff;
    text-decoration: none;
    background-color: transparent;
	-webkit-text-decoration-skip: objects;
	
}
