  .select2-container .select2-selection--single {
        height: 48px !important;
    }

    .select2-container {
        max-width: 100%;
    }

    .select2-selection__arrow {
        height: 40px !important;
    }

    #input-for-receiver-account{
        height: 48px;
        width: 99%;
    }