﻿@model Transact.Web.ViewModels.ErrorPageViewModel

<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fully featured and complete ICO Dashboard template for ICO backend management.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- Site Title  -->
    <title>TokenWiz - ICO User Dashboard Admin Template</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=104">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=104">

</head>
<body class="page-ath">
    <div class="vh100 d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <div class="error-content">                        
                        <span class="error-text-large">
                            @if (Model.StatusCode != 0)
                            {

                               @Model.StatusCode

                            }
                            else
                            {
                                <span>Sorry</span>
                            }
                        </span> 
                        <h4 class="text-dark">Something went wrong. </h4>
                        <p>                            
                            <h5 class="text-dark">Here, read a joke:</h5>
                            <span class="text-dark" id="joke-setup-holder"></span><br />
                            <span class="text-dark" id="joke-delivery-holder"></span>
                        </p>
                        <a href="/Home/Index" class="btn btn-primary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.bundle.js?ver=104"></script>
    <script src="/assets/js/script.js?ver=104"></script>
    <script src="/js/consume-joke-api-into-error-page.js"></script>
</body>
</html>
