﻿@model AddUserViewModel
@{
    ViewData["Title"] = "Add User Page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCustom.cshtml";
}


<div class="page-content ">
    <div class="container col-md-10">
        <div class="content-area card">
            <div class="card-innr card-innr-fix2">
                <div class="card-head">
                    <h6 class="card-title">Add New User</h6>
                </div>
                <div class="gaps-1x"></div><!-- .gaps -->
                <form id="submit-user-form" class="row" asp-controller="User" asp-action="SaveUser">
                    <div class="col-md-6">
                        <div class="input-item input-with-label">
                            <label class="input-item-label">UserName</label>
                            <input asp-for="UserForm.UserName" class="input-bordered" type="text" placeholder="Must be between 5 and 16 characters">
                            <span asp-validation-for="UserForm.UserName" class="text-danger"></span>
                        </div>
                        <div class="input-item input-with-label">
                            <label class="input-item-label">Password</label>
                            <input asp-for="UserForm.Password" class="input-bordered" type="password" placeholder="Must be between 5 and 35 characters">
                            <span asp-validation-for="UserForm.Password" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="input-item input-with-label">
                            <label class="input-item-label">Name</label>
                            <input asp-for="UserForm.Name" class="input-bordered" type="text" placeholder="Must be between 8 and 32 characters">
                            <span asp-validation-for="UserForm.Name" class="text-danger"></span>
                        </div>
                        <div class="input-item input-with-label">
                            <label class="input-item-label">If added correctly it will appear below!</label>
                            <div class="col-6 col-lg-3"><button type="submit" href="#" class="btn btn-primary" id="add-user-button">Add User</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- .card -->

    </div><!-- .container -->
</div><!-- .page-content -->

<div class="page-content">
    <div class="container col-md-10">
        <div class="card content-area">
            <div class="card-innr">
                <div class="card-head">
                    <h4 class="card-title">All App Users by Id</h4>
                </div>
                <span id="target-user-list-table">
                    @await Html.PartialAsync("_UserListTable", Model.UsersList)
                </span>
            </div><!-- .card-innr -->
        </div><!-- .card -->
    </div><!-- .container -->
</div><!-- .page-content -->

@section Scripts{
    <script src="~/js/manage-users-add-form.js"></script>
    <script src="/js/manage-users-pagination-table-buttons.js"></script>
}

