﻿@model ManageUserViewModel
@{
    ViewData["Title"] = "Manage User Page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCustom.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<link href="~/css/transaction-select2-style.css" rel="stylesheet" />

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 aside sidebar-left">
                <div class="card card-navs">
                    <div class="card-innr">
                        <div class="card-head d-none d-lg-block">
                            <h6 class="card-title card-title-md">User: @Model.UserToManage.Name</h6>
                        </div>
                    </div>
                </div>
                <div class="pb-3">
                    <a asp-area="Admin" asp-controller="Client" asp-action="AddClient" asp-route-clientId="@Model." class="btn btn-lg btn-light-alt"><em class="fas fa-arrow-left mr-3"></em>Back to Client Management</a>
                </div>
            </div>
            <div class="col-lg-9 main-content" id="userAccount-manage-holder">
                @await Html.PartialAsync("_UserAccountsManagePartial", Model.ManageUserAccounts)
            </div>
        </div>
    </div><!-- .container -->
</div><!-- .page-content -->

@section Scripts{

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="~/js/remove-account-from-user.js"></script>

    <script src="~/js/manage-userAccounts-add-form.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>

    <script src="~/js/manage-accountsForUsers-pagination-table-buttons.js"></script>

    <script src="~/js/find-accountsForUser-jquery-select2-version.js"></script>
}