﻿@model BannerManagementViewModel
@{
    ViewData["Title"] = "AddBanner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCustom.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" />
<link rel="stylesheet" href="~/css/customStyles.css" />

<form id="submit-banner-form" enctype="multipart/form-data" asp-controller="Banner" asp-action="SaveBanner">
    <div class="card">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 main-content">
                        <div class="card content-area">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Adding Banner</h4>
                                </div>
                                <div class="col-12">
                                    <div class="input-item input-with-label col-12">
                                        <input asp-for="BannerForm.Url" class="input-bordered" type="text" placeholder="Place Banner Url here">
                                        <span asp-validation-for="BannerForm.Url" class="text-danger"></span>
                                    </div>
                                    <div class="input-item input-with-label">
                                        <label asp-for="BannerForm.StartDate" class="col-5 ml-2">Starting Date</label>
                                        <input asp-for="BannerForm.StartDate" id='startingDate-picker' class="input-bordered col-6" type='datetime' />
                                        <span asp-validation-for="BannerForm.StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="input-item input-with-label">
                                        <label asp-for="BannerForm.EndDate" class="input-item-label col-5 ml-2">Ending Date</label>
                                        <input asp-for="BannerForm.EndDate" id='endingDate-picker' class="input-bordered col-6" type='datetime' />
                                        <span asp-validation-for="BannerForm.EndDate" class="text-danger"></span>
                                    </div>
                                </div>

                            </div><!-- .card-innr -->
                        </div><!-- .card -->
                    </div><!-- .content -->
                    <!--add user -->
                    <div class="col-sm-4 aside sidebar-right mt-3">
                        <div class="card card-navs">
                            <div class="card-innr col-md-12">
                                <div class="input-item input-with-label d-inline">
                                    <label asp-for="BannerForm.Image" class=" col-12 mt-4 input-item-label d-inline-block"><div class="img-thumbnail w-100 h-100" id="image-preview-box"><img src="~/images/defaultUpload.jpg" /></div></label>
                                    <input asp-for="BannerForm.Image" class="d-none special-clas-for-image-data-uploaded" accept="image/*" type="file" placeholder="Must be between 5 and 35 characters">
                                    <span asp-validation-for="BannerForm.Image" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end add user -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-content -->
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 main-content">
                        <div class="card content-area">
                            <div class="card-innr">
                                <div class="card-head">
                                    <div class=""><button type="submit" href="#" class="col-12 btn btn-auto btn-primary" id="add-banner-button">Add Banner</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="page-content ">
    <div class="container">
        <div class="card content-area">
            <div class="card-innr ">
                <div class="card-head">
                    <h4 class="card-title">All Banners by End Date</h4>
                </div>
                <span id="target-banners-list-table">
                    @await Html.PartialAsync("_BannerListTable", Model.FiveBanners)
                </span>
            </div><!-- .card-innr -->
        </div><!-- .card -->
    </div><!-- .container -->
</div><!-- .page-content -->


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/bg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/preview-image.js"></script>
    <script src="~/js/manage-banners-add-form.js"></script>
    <script src="~/js/manage-banners-pagination-table-buttons.js"></script>
    <script src="~/js/date-picker-custom.js"></script>
    <script src="~/js/delete-banners.js"></script>
    <script src="~/js/perfect-banner-size-easter-egg.js"></script>

}
