﻿@model EditBannerViewModel
@{
    ViewData["Title"] = "EditBanner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCustom.cshtml";
}

<form id="update-banner-form" enctype="multipart/form-data" asp-controller="Banner" asp-action="SaveBanner">
    <div class="card">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 main-content">
                        <div class="card content-area">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Adding Banner</h4>
                                </div>
                                <div class="col-12">
                                    <div class="input-item input-with-label col-12">
                                        <input asp-for="Url" class="input-bordered" type="text" placeholder="Place Banner Url here" value="@Model.Url">
                                        <span asp-validation-for="Url" class="text-danger"></span>
                                    </div>
                                    <div class="input-item input-with-label">
                                        <label asp-for="StartDate" class="col-5 ml-2">Starting Date</label>
                                        <input asp-for="StartDate" id='startingDate-picker' class="input-bordered col-6" value="@Model.StartDate.ToString("dd MMM yyyy", System.Globalization.CultureInfo.InvariantCulture)" type='datetime' />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="input-item input-with-label">
                                        <label asp-for="EndDate" class="input-item-label col-5 ml-2">Ending Date</label>
                                        <input asp-for="EndDate" id='endingDate-picker' class="input-bordered col-6" type='datetime' value="@Model.EndDate.ToString("dd MMM yyyy", System.Globalization.CultureInfo.InvariantCulture)" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div><!-- .card-innr -->
                        </div><!-- .card -->
                    </div><!-- .content -->
                    <!--add user -->
                    <div class="col-sm-4 aside sidebar-right mt-3">
                        <div class="card card-navs">
                            <div class="card-innr col-md-12">
                                <div class="input-item input-with-label d-inline">
                                    <label asp-for="Image" class=" col-12 mt-4 input-item-label d-inline-block"><div class="img-thumbnail w-100 h-100" id="image-preview-box"><img src="@Model.ImagePath" /></div></label>
                                    <input asp-for="Image" class="d-none special-clas-for-image-data-uploaded" accept="image/*" type="file" placeholder="Must be between 5 and 35 characters">
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="ImageName" value="@Model.ImageName" />
                    <input type="hidden" id="is-new-image-uploaded" asp-for="IsNewImage" />
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-content -->
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 main-content">
                        <div class="card content-area">
                            <div class="card-innr">
                                <div class="card-head">
                                    <div class=""><button type="submit" href="#" class="col-12 btn btn-auto btn-primary" id="update-banner-button">Edit Banner</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/bg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>


    <script src="~/js/update-banner.js"></script>
    <script src="~/js/preview-image-during-banner-edit.js"></script>
    <script src="~/js/date-picker-custom-for-edit.js"></script>
    <script src="~/js/perfect-banner-size-easter-egg.js"></script>
}
