﻿@model TransactionViewModel
@{
    ViewData["Title"] = "Add Transaction";
    Layout = "~/Areas/AppUser/Views/Shared/_LayoutCustom.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<link href="~/css/transaction-select2-style.css" rel="stylesheet" />

<div class="page-content">
    <div class="container">
        <div class="content-area card">
            <div class="card-innr card-innr-fix2">
                <div class="card-head">
                    <h6 class="card-title">Add Transaction</h6>
                </div>
                <div class="gaps-1x"></div><!-- .gaps -->
                <form asp-controller="Transaction" asp-action="SaveTransaction" id="edit-transaction-form" class="row">
                    <div class="col-md-6">
                        <input type="hidden" class="input-bordered" asp-for="Id" value="@Model.Id">
                        <div class="input-item input-with-label">
                            <label class="input-item-label">Select Account to send Money From:</label>
                            <div>
                                <select class="input-bordered" asp-for="SenderAccountId" id="sender-account-selector">
                                    <option value="" selected disabled hidden></option>
                                    @foreach (var account in Model.AllAvailableAccounts)
                                    {
                                        <option bal="@account.Balance" att="@account.ClientName" value="@account.Id">@account.NickName</option>
                                    }
                                </select>
                                <span asp-validation-for="SenderAccountId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="input-item input-with-label col-md-8" id="sender-client-name-div">
                            <div>Client Name: @Model.SenderClientName</div>
                        </div>


                        <div class="input-item input-with-label">
                            <label class="input-item-label">Description:</label>
                            <input asp-for="Description" class="input-bordered" value="@Model.Description" type="text" placeholder="Must be up to 35 characters">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-item input-with-label">
                            <label for="auto" class="input-item-label">Find Receiver Account:</label>
                            <input asp-for="ReceiverAccountNumber" class="input-bordered" value="@Model.ReceiverAccountNumber" id="input-for-receiver-account" type="text" placeholder="Live Search by Account Number" />
                            <span asp-validation-for="ReceiverAccountNumber" id="message" class="text-danger"></span>
                        </div>
                        <div class="input-item input-with-label col-md-8" id="receiver-client-name-div">
                            <div>Client Name: @Model.ReceiverClientName</div>
                        </div>
                        <div class="input-item input-with-label">
                            <label class="input-item-label">Amount:</label>
                            <input asp-for="Amount" class="input-bordered" value="@Model.Amount" type="number" id="transaction-amount-selector" min="1" placeholder="Please enter valid amount">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-offset-0">
                        <div>
                            <div class="input-item input-with-label">
                                <span class="col-6 col-lg-3">
                                    <input type="submit" class="btn btn-warning-alt" id="update-transaction-button" value="Update Transaction" />
                                </span>
                                <span class="col-6 col-lg-3">
                                    <input type="submit" class="btn btn-primary-alt" id="send-updated-transaction-button" value="Send Transaction" />
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- .card -->

    </div><!-- .container -->
</div><!-- .page-content -->

@section Scripts{

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="~/js/find-accounts-jquery-select2-version.js"></script>
    <script src="~/js/sender-accounts-select2.js"></script>
    <script src="~/js/receiver-accounts-settings.js"></script>

    <script src="~/js/editing-transactions-ajax.js"></script>
}



