﻿@model ListTransactionsViewModel
@{
    ViewData["Title"] = "ListTransactions";
    Layout = "~/Areas/AppUser/Views/Shared/_LayoutCustom.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<link href="~/css/transaction-select2-style.css" rel="stylesheet" />
<link href="~/css/custom-empty-transactions.css" rel="stylesheet" />

<div class="page-content">
    <div class="container">
        <div class="card content-area">
            <div class="card-innr">
                <div class="input-item input-with-label col-md-4 " style="float: right;">
                    <label class="input-item-label">Account selected:</label>
                    <div>
                        <select id="transactions-account-selector" class="input-bordered" asp-for="PreSelectedAccount">
                            <option accid="default" selected disabled hidden>Select account</option>
                            @*<option accid="default">No Account Selected</option>*@
                            @foreach (var account in Model.AllAvailableAccounts)
                            {
                                <option bal="@account.Balance" accid="@account.Id" value="@account.Id">@account.NickName</option>
                            }
                        </select>
                        <span asp-validation-for="PreSelectedAccount" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-head">
                    <h4 class="card-title">Transactions by Date</h4>
                </div>
                <div id="target-transaction-list-table">
                    @await Html.PartialAsync("_FiveTransactionsPartial", Model.FiveTransactionsList)
                </div>
            </div><!-- .card-innr -->
        </div><!-- .card -->
    </div><!-- .container -->
</div><!-- .page-content -->

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="/js/manage-transactions-pagination-table-buttons.js"></script>
    <script src="~/js/transaction-action-buttons-from-listing.js"></script>
    <script src="/assets/js/script.js?ver=104"></script>
    
}