﻿@model AdminDashViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCustom.cshtml";
}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="token-statistics card card-token card-full-height">
                    <div class="card-innr">
                        <div class="token-balance token-balance-with-icon">
                            <div class="token-balance-icon">
                                <img src="/images/logo-light-sm.png" alt="logo">
                            </div>
                            <div class="token-balance-text">
                                <h6 class="card-sub-title">Total Users</h6>
                                <span class="lead"> 15 <span> people <br /> registered in Transact</span></span>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div><!-- .col -->
            <div class="col-lg-8">
                <div class="token-information card height-auto">
                    <div class="row no-gutters height-100">
                        <div class="col-md-6 text-center">
                            <div class="token-info">                               
                                <h1 class="token-info-head text-light">1 EURO = 1.95 BGN</h1>
                                <h5 class="token-info-sub">1 BGN = 0.511 EURO</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="token-info bdr-tl">
                                <div>
                                    <ul class="token-info">
                                        <li><span>With the support of: </span>capitalOne©</li>
                                        <li><span>Transact' Country of Operations: </span>Bulgaria</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .card -->
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="card card-full-height">
                    <div class="card-innr">
                        <div class="card-head has-aside pb-0">
                            <h4 class="card-title">Recent Users</h4>
                        </div>
                        <table class="data-table user-list">
                            <tbody>

                                @foreach (var user in Model.FiveLatestUsers)
                                {
                                    <tr class="data-item">
                                        <td class="data-col dt-user">
                                            <div class="user-block">
                                                <div class="user-photo bg-danger"> @user.Name.Substring(0, 2).ToUpper() </div>
                                                <div class="user-info">
                                                    <span class="lead user-name">@user.Name</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="data-col dt-join text-right">
                                            <a class="sub join-time" asp-area="Admin" asp-controller="User" asp-action="ManageUser" asp-route-userId="@user.Id">details</a>
                                        </td>
                                    </tr><!-- .data-item -->
                                }

                            </tbody>
                        </table>
                    </div>
                </div><!-- .card -->
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="card card-timeline card-full-height">
                    <div class="card-innr">
                        <div class="card-head has-aside">
                            <h4 class="card-title">Recent Clients:</h4>
                        </div>
                        <div>
                            <div data-simplebar="init">
                                <div class="timeline-innr">
                                    <div class="timeline">
                                        <div class="timeline-line"></div>

                                        @foreach (var client in Model.SevenLatestClients)
                                        {
                                            <div class="timeline-item">
                                                <div class="timeline-time">@client.Name</div>
                                                <div class="timeline-content">
                                                    <p>Total registered accounts for Client: @client.NumberOfAccounts</p>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div><!-- .card -->
            </div><!-- .col -->         
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .page-content -->