﻿@model FiveTransactionListViewModel


@if (Model.FiveSelectedTransactions.Count == 0)
{
<div class="container m-4">
    <div class="col-md-6 float-left"><img src="~/images/mamoney.png" /></div>
    <div class="col-md-5 text-center align-middle overflow-hidden custom-padding-class"><h2>No account Selected</h2></div>
</div>

}
else
{
    <table class="mobile-transact-table-scroll data-table dt-init user-tnx">

        <thead>
            <tr class="data-item data-head">
                <th class="data-col dt-token">Sender Account:</th>
                <th class="data-col dt-amount">Amount:</th>
                <th class="data-col dt-token">Description:</th>
                <th class="data-col dt-token">Receiver Account:</th>
                <th class="data-col dt-account">Last Update:</th>
                <th class="data-col dt-type"><div class="dt-type-text">Type:</div></th>
                <th class="data-col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.FiveSelectedTransactions)
            {
                <tr class="data-item">
                    
                    <td class="data-col dt-token">
                        <span class="lead token-amount">@transaction.SenderAccountNickName</span>
                        <span class="sub sub-symbol">#@transaction.SenderAccountNumber</span>
                        <span class="sub sub-symbol">Client: @transaction.SenderClientName</span>
                    </td>
                    <td class="data-col dt-amount">
                        <span class="lead amount-pay">@transaction.Amount</span>
                        <span class="sub sub-symbol">BGN</span>
                    </td>
                    <td class="data-col dt-token">
                        <span class="sub sub-symbol">@transaction.Description</span>
                    </td>
                    <td class="data-col dt-token">
                        <span class="lead token-amount">@transaction.ReceiverAccountNickName</span>
                        <span class="sub token-amount">#@transaction.ReceiverAccountNumber</span>
                        <span class="sub sub-symbol">Client: @transaction.ReceiverClientName</span>
                    </td>

                    <td class="data-col dt-account">
                        <span class="lead user-info">
                            Date/Time
                            @if (transaction.StatusId == 1)
                            {
                                <span>Saved</span>
                            }
                            @if (transaction.StatusId == 2)
                            {
                                <span>Sent</span>
                            }
                        </span>
                        <span class="sub sub-date">@transaction.TimeStamp</span>
                    </td>
                    <td class="data-col dt-type">
                        @if (transaction.IOstatus == TransactionIOStatus.Incoming)
                        {
                            <span class="dt-type-md badge badge-outline badge-success badge-md">Incoming</span>
                            <span class="dt-type-sm badge badge-sq badge-outline badge-success badge-md">P</span>
                        }
                        else if (transaction.IOstatus == TransactionIOStatus.Outgoing)
                        {
                            <span class="dt-type-md badge badge-outline badge-warning badge-md">Outgoing</span>
                            <span class="dt-type-sm badge badge-sq badge-outline badge-success badge-md">P</span>
                        }
                        else if (transaction.IOstatus == TransactionIOStatus.IncomingAndOutgoing)
                        {
                            <span class="dt-type-md badge badge-outline badge-success badge-md">Incoming</span>
                            <span class="dt-type-sm badge badge-sq badge-outline badge-success badge-md">P</span>
                            <span class="dt-type-md badge badge-outline badge-warning badge-md">Outgoing</span>
                            <span class="dt-type-sm badge badge-sq badge-outline badge-success badge-md">P</span>
                        }
                    </td>
                    <td class="data-col text-right">
                        <div class="relative d-inline-block d-md-none">
                            <a href="#" class="btn btn-light-alt btn-xs btn-icon toggle-tigger"><em class="ti ti-more-alt"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-center-left pd-2x">
                                <ul class="data-action-list">
                                    @if (transaction.StatusId == 1)
                                    {
                                        <li class="btn-auto">
                                            <a href="#" trid="@transaction.Id" class="pay-now-button-for-transaction btn btn-auto btn-success btn-xs"><span class="anti-forgery-custom">@Html.AntiForgeryToken()</span><span>Pay <span class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-control-shuffle"></em></a>
                                        </li>
                                        <li class="btn-auto ">
                                            <form method="post" class="btn-auto" asp-controller="Transaction" asp-action="EditTransaction" asp-route-transactionId="@transaction.Id">
                                                <button type="submit" class="edit-button-for-transaction btn btn-auto btn-primary btn-xs"><span>Edit<span class="d-none d-xl-inline-block"></span></span><em class="ti ti-pencil-alt"></em></button>
                                            </form>
                                        </li>
                                    }

                                    <li>
                                        <a href="#" trid="@transaction.Id" data-toggle="modal" data-target="#transaction-details-@transaction.Id" class="btn btn-light-alt btn-xs btn-icon"><em class="ti ti-eye"></em></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="data-action-list d-none d-md-inline-flex">
                            @if (transaction.StatusId == 1)
                            {
                                <li class="align-items">
                                    <a href="#" trid="@transaction.Id" class="pay-now-button-for-transaction btn btn-auto btn-success btn-xs"><span class="anti-forgery-custom">@Html.AntiForgeryToken()</span><span>Pay <span class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-control-shuffle"></em></a>
                                </li>
                                <form method="post" asp-controller="Transaction" asp-action="EditTransaction" asp-route-transactionId="@transaction.Id">
                                    <button type="submit" class="edit-button-for-transaction btn btn-auto btn-primary btn-xs"><span>Edit<span class="d-none d-xl-inline-block"></span></span><em class="ti ti-pencil-alt"></em></button>
                                </form>
                            }
                            <li class="align-items">
                                <a href="#" trid="@transaction.Id" data-toggle="modal" data-target="#transaction-details-@transaction.Id" class="btn btn-light-alt btn-xs btn-icon"><em class="ti ti-eye"></em></a>
                            </li>
                        </ul>
                    </td>
                </tr><!-- .data-item -->

                <!-- Modal Large -->
                <div class="modal fade" id="transaction-details-@transaction.Id" tabindex="-1">
                    <div class="modal-dialog modal-dialog-lg modal-dialog-centered">
                        <div class="modal-content">
                            <a href="#" class="modal-close" id="modal-close-button-@transaction.Id" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                            <div class="popup-body popup-body-lg">
                                <div class="content-area">
                                    <div class="card-head d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">Transaction Details</h4>
                                    </div>
                                    <div class="gaps-1-5x"></div>
                                    <div class="data-details d-md-flex">
                                        <div class="fake-class">
                                            <span class="data-details-title">Tranx Date</span>
                                            <span class="data-details-info">@transaction.TimeStamp</span>
                                        </div>
                                   

                                    </div>
                                    <div class="gaps-3x"></div>
                                    <h6 class="card-sub-title">Transaction Info</h6>
                                    <ul class="data-details-list">
                                        <li>
                                            <div class="data-details-head">Transaction Type</div>
                                            <div class="data-details-des">
                                                <strong>
                                                    @if (transaction.IOstatus == TransactionIOStatus.Incoming)
                                                    {
                                                        <span>Cash Incoming</span>
                                                    }
                                                    else if (transaction.IOstatus == TransactionIOStatus.Outgoing)
                                                    {
                                                        <span>Cash Outgoing</span>
                                                    }
                                                    else if (transaction.IOstatus == TransactionIOStatus.IncomingAndOutgoing)
                                                    {
                                                        <span>Incoming and Outgoing Cash flow</span>
                                                    }
                                                </strong>
                                            </div>
                                        </li><!-- li -->
                                        <li>
                                            <div class="data-details-head">Payment Amount</div>
                                            <div class="data-details-des"><strong>@transaction.Amount BGN <small>- Online Payment</small></strong></div>
                                        </li><!-- li -->
                                        <li>
                                            <div class="data-details-head">Details</div>
                                            <div class="data-details-des">@transaction.Description</div>
                                        </li><!-- li -->
                                        <li>
                                            <div class="data-details-head">Sender Account №</div>
                                            <div class="data-details-des"><strong>@transaction.SenderAccountNumber</strong></div>
                                        </li><!-- li -->

                                        @if (!string.IsNullOrEmpty(transaction.SenderAccountNickName))
                                        {
                                            <li>
                                                <div class="data-details-head">Sender Account Nick</div>
                                                <div class="data-details-des"><span>@transaction.SenderAccountNickName</span> <span></span></div>
                                            </li><!-- li -->
                                        }
                                        <li>
                                            <div class="data-details-head">Sender Account Client</div>
                                            <div class="data-details-des"><span>@transaction.SenderClientName</span> <span></span></div>
                                        </li><!-- li -->
                                        <li>
                                            <div class="data-details-head">Receiver Account №</div>
                                            <div class="data-details-des"><span>@transaction.ReceiverAccountNumber</span> <span></span></div>
                                        </li><!-- li -->

                                        @if (!string.IsNullOrEmpty(transaction.ReceiverAccountNickName))
                                        {
                                            <li>
                                                <div class="data-details-head">Receiver Nick</div>
                                                <div class="data-details-des"><span>@transaction.ReceiverAccountNickName</span> <span></span></div>
                                            </li><!-- li -->
                                        }
                                        <li>
                                            <div class="data-details-head">Receiver Account Client</div>
                                            <div class="data-details-des"><span>@transaction.ReceiverClientName</span> <span></span></div>
                                        </li>
                                    </ul><!-- .data-details -->
                                    <div class="gaps-3x"></div>
                                    <div class="data-action-list d-none d-md-inline-flex">
                                        @if (transaction.StatusId == 1)
                                        {
                                            <a href="#" trid="@transaction.Id" ismodal="yes" class="m-2 pay-now-button-for-transaction btn btn-auto btn-success btn-sm"><span class="anti-forgery-custom">@Html.AntiForgeryToken()</span><span>Pay <span class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-control-shuffle"></em></a>
                                            <form method="post" asp-controller="Transaction" asp-action="EditTransaction" asp-route-transactionId="@transaction.Id">
                                                <button type="submit" class="m-2 btn btn-auto btn-primary btn-sm"><span>Edit<span class="d-none d-xl-inline-block"></span></span><em class="ti ti-pencil-alt"></em></button>
                                            </form>
                                        }
                                    </div>

                                </div><!-- .card -->
                            </div>
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div>
                <!-- Modal End -->
            }
        </tbody>
    </table>

    <div class="d-inline">
        @if (Model.PrevPage == null)
        {
            <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
        }
        else
        {
            <a class="btn btn-sm btn-lighter btn-auto transaction-pagination-button-table" at="@Model.PrevPage">Prev</a>
            <a class="btn btn-sm btn-lighter btn-auto transaction-pagination-button-table" at="@Model.PrevPage">@Model.PrevPage</a>
        }

        <button id="current-page-active-button" class="btn btn-sm btn-primary btn-auto" at="@Model.CurrPage">@Model.CurrPage</button>

        @if (Model.NextPage == null)
        {
            <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
        }
        else
        {
            <a class="btn btn-sm btn-lighter btn-auto transaction-pagination-button-table" at="@Model.NextPage">@Model.NextPage</a>
            <a class="btn btn-sm btn-lighter btn-auto transaction-pagination-button-table" at="@Model.NextPage">Next</a>
        }
    </div>


    <div class="d-inline float-right mt-5">
        <a asp-area="AppUser" asp-controller="Transaction" asp-action="AddTransaction" class="btn-sm btn btn-auto btn-success">
            New Transaction
        </a>
    </div>
}
