﻿<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fully featured and complete ICO Dashboard template for ICO backend management.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- Site Title  -->
    <title>TokenWiz - ICO User Dashboard Admin Template</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=104">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=104">
    <!-- Custom App added style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/customStyles.css">
    <link rel="stylesheet" href="~/css/mobile-table-side-scroll.css">
</head>
<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo" asp-area="AppUser" asp-controller="Account" asp-action="AccountDash">
                        <img src="/images/logo-light2x.png" srcset="/images/logo-light2x.png 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block">
                                Welcome! @Context.Request.Cookies["LoginInfo"]
                            </span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links bg-light">
                                    <li><form method="post" id="logout-form-user-general" logoutHref="/Home/Index"><a href="#" id="logout-form-user-link"><i class="ti ti-power-off"></i>Logout</a></form></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item --> 
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="navbar-innr">
                    <ul class="navbar-menu">
                        <li><a asp-area="AppUser" asp-controller="Account" asp-action="AccountDash"><em class="ikon ikon-distribution"></em> Accounts Dashboard</a></li>
                        <li><a asp-area="AppUser" asp-controller="Transaction" asp-action="AddTransaction"><em class="ikon ikon-coins"></em> Make Payment</a></li>
                        <li><a asp-area="AppUser" asp-controller="Transaction" asp-action="ListTransactions"><em class="ikon ikon-transactions"></em> Transactions Overview</a></li>
                    </ul>
                    <ul class="navbar-btns">
                        <li><a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline btn-light"><em class="text-primary ti ti-home"></em><span>Back to Website Home</span></a></li>
                    </ul>
                </div><!-- .navbar-innr -->
            </div><!-- .container -->
        </div><!-- .navbar -->
    </div><!-- .topbar-wrap -->

    <div class="page-content">
        <div class="container">
            <!-- START OF PAGE BODY -->
            @RenderBody()
            <!-- END OF PAGE BODY -->
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <li><a asp-controller="Home" asp-action="Index">Back to Home</a></li>
                        <li><a asp-area="AppUser" asp-controller="Dashboard" asp-action="About">About the project</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 Transact</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <!-- JavaScript (include all script here) -->
    <script src="/assets/js/jquery.bundle.js?ver=104"></script>

    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.2/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/logout-general.js"></script>

    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>
