@using Microsoft.AspNetCore.Identity
@using Transact.Web.Models

@using System.Web;


@if (Context.Request.Cookies["LoginInfo"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="User" asp-action="Profile">Hello, @Context.Request.Cookies["LoginInfo"]</a></li>
        <li><a asp-controller="User" asp-action="Logout">Log out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="User" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="User" asp-action="GetLogin">Log in</a></li>
    </ul>
}

