﻿@model AddClientsViewModel
@{
    ViewData["Title"] = "Add Client";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCustom.cshtml";
}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 main-content">
                <div class="card content-area">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">All Clients</h4>
                        </div>
                        <span id="target-client-list-table">
                            @await Html.PartialAsync("_ClientListTable", Model.ClientsList)
                        </span>
                    </div><!-- .card-innr -->
                </div><!-- .card -->
            </div><!-- .content -->

            <!--add user -->
            <div class="col-md-5 aside sidebar-right ">
                <div class="card card-navs">
                    <div class="card-innr">
                        <div class="card-head d-lg-block">
                            <h6 class="card-title card-title-md">Add New Client</h6>
                        </div>
                        <form id="submit-client-form"  asp-controller="Client" asp-action="SaveClient">
                            <div class="col-md-13">
                                <div class="input-item input-with-label">
                                    <label class="input-item-label">Name</label>
                                    <input asp-for="ClientForm.Name" class="input-bordered" type="text" placeholder="Must be between 3 and 35 characters">
                                    <span asp-validation-for="ClientForm.Name" class="text-danger"></span>
                                </div>
                                <div class="input-item input-with-label">
                                    <label class="pdb-0-5x">If added correctly it will appear on your left!</label>
                                    <button type="submit" href="#" class="btn btn-primary btn-block" id="add-client-button">Click to Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end add user -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .page-content -->

@section Scripts{

    <script src="~/js/manage-clients-add-form.js"></script>
    <script src="~/js/manage-clients-pagination-table-buttons.js"></script>
}