﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Areas/AppUser/Views/Shared/_LayoutCustom.cshtml";
}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="/landingPage/css/bootstrap.min.css" />
<link rel="stylesheet" href="/landingPage/css/font-awesome.min.css" />
<link rel="stylesheet" href="/landingPage/css/themify-icons.css" />
<link rel="stylesheet" href="/landingPage/css/owl.carousel.css" />
<link rel="stylesheet" href="/landingPage/css/style.css" />
<div class="page-content">
    <div class="container">
        <section class="about-section spad">
            <div class="container">

                <div class="row">
                    <div class="mb-5 col-md-12 text-capitalize text-center">
                        <h2>Web App Made by <a href="http://softworkz.org"><span>Team SoftWorkz!</span></a></h2><br />
                        <h3><icon class="fas fa-trophy"></icon> &nbsp; Telerik Academy Final Project First Place Awarded!</h3><br />
                    </div>
                    <div class="container col-sm-12">
                        <div>
                            <h3>
                                Project Details:
                            </h3>

                            <hr />
                            <br />
                            <p>
                                Project is hosted in Azure and features a Three-Layer architecture:
                                <ul>
                                    <li>
                                        Presentation Layer: consists of ASP.NET Core 2.2 Web Project with fully responsive beautiful design.
                                    </li>
                                    <li>
                                        Business Layer: Services and business features processing class library.
                                    </li>
                                    <li>
                                        Data Layer: Holding the configuration for the data-base and additional mappings of table-relationships.
                                    </li>
                                    <li>
                                        Custom mappers and DtoObjects transferring data from one layer to another.
                                    </li>
                                </ul>
                                App features Custom JSON-Web-Tokenization system for authentication and authorization.<br />
                                Thorough unit testing for the services and business features covering more than 90%.<br />
                                Server side Pagination WITH java-script based dom elements manipulation for amazing customer experience without any page refreshes for various tables and forms.<br />
                                The Website allows the client to login and manage all of his resources.<br />
                                Most of the requests are Ajax based to enable beautiful handling of errors and model-state for various forms and situations.<br />
                                Project includes caching for some parts of its Collections to lower the database trips. <br />
                                Project was developed using end-to-end Feature branches (left un-deleted in the git-system for the purpose of showcasing the process)!
                            </p>
                            <hr />
                            <h5>Admins can:</h5>
                            <p>
                                <ul>
                                    <li>
                                        Enjoy the Admin Dashboard after login, providing basic recent activity with in-memory caching to reduce data-base trips for EVERY admin that logs.
                                    </li>
                                    <li>
                                        Get listing of all Users by last added and paginate on the server while changing the table with javascript without page-refreshing.
                                    </li>
                                    <li>
                                        Add Users and Clients with ajax form and enjoy model-uninteruptive response about already taken names or invalid form submissions.
                                    </li>
                                    <li>
                                        List newly added users immediatelly with javascript inside dynamically updated table.
                                    </li>
                                    <li>
                                        Server-Side pagination on Users, Clients, Banners and Attatched Accounts tables with beautiful javascript dom manipulation allowing updates of records without page refreshes.
                                    </li>
                                    <li>
                                        Add clients for application to use as base for accounts being attatched and managed between users.
                                    </li>
                                    <li>
                                        Search for users to attatch (and attatch them) to clients via Javascript autocomplete using ajax remote source (server request) for the data, updating listing dynamically with javascript (again).
                                    </li>

                                    <li>
                                        Search for accounts to attatch (and attatch them) to clients via Javascript autocomplete using ajax remote source (server request) for the data.
                                    </li>
                                    <li>
                                        Remove Users from Clients Or Accounts from Users.
                                    </li>
                                    <li>
                                        Add, delete and remove banners, giving start and ending date for each one of them to be active on the user login page.
                                    </li>
                                </ul>
                            </p>
                            <h5>Users Can:</h5>
                            <p>
                                <ul>
                                    <li>
                                        Enjoy advertising banners from the app management with promotational links on click.
                                    </li>
                                    <li>
                                        Find beautiful chart-pie of all their accounts' balances inside the account dash.
                                    </li>
                                    <li>
                                        Have a listing of all their accounts with additional info for each of them.
                                    </li>
                                    <li>
                                        Inside Account Dash - click and view all of the Accounts Transactions.
                                    </li>
                                    <li>
                                        Inside Account Dash - click and initiate a new transaction with the account as pre-selected for Sender.
                                    </li>
                                    <li>
                                        Edit saved transactions or just directly send them.
                                    </li>
                                    <li>
                                        Inside Account Dash - click and edit their Personal Nickname for that account regardless of whom it's shared with.
                                    </li>
                                    <li>
                                        List all of their transactions inside responsive table by selecting some of the accounts they have at their disposal.
                                    </li>
                                    <li>
                                        Browse the listed transactions in beautiful responsive table with Server-Side pagination
                                    </li>
                                    <li>
                                        Read the nicknames of only the accounts they own but not the ones they do not yet have transactions towards/from.
                                    </li>
                                </ul>
                        </div>
                        <hr />
                    </div>

                </div>
        </section>
        <!-- About section end -->

        <section class="about-section spad">
            <div class="container text-justify">
                <div class="row">
                    <div class="col-md-4 text-center mt-5">
                        <img class="w-75" src="~/images/dimitarmihov.png" alt="">
                        <div class="member-social">
                            <a href="https://gitlab.com/dimitarmihov"><i class="fa fa fa-gitlab"></i></a>
                            <a href="http://softworkz.org"><i class="fa fa-globe"></i></a>
                            <a href="https://www.linkedin.com/in/dmihov/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/dimitar.mihov.52"><i class="fa fa-facebook"></i></a>
                            <div class="mt-3">
                                <i class="fa fa-envelope"></i>
                                <span>&nbsp; dimitar.mihov.bg@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 about-text">
                        <h2>Who is Dimitar Mihov?</h2>

                        <span>Dimtiar Mihov</span>
                        is professional passionate about software development!
                        Quality programming code is his priority!
                        Always striving towards technical proficiency and producing quality products.
                        You can review his projects after clicking on the contact links on the left.
                        Dimitar has spent 2 years learning from the old Telerik Academy and placing
                        he foundation for his knowledge. <br /><br />
                        Right now he is in the process of graduating Telerik Alpha
                        academy and along with his colleague and team-mate Georgi Despolov
                        is determined to embark on the journey of the IT industry.
                        Dimtiar has graduated from the High-School of Mathematics and
                        Biology in the city of Burgas and currently resides in Sofia. <br /><br />
                        A real team-player commited to self-sacrifice in the name of the mutual success!<br /><br />
                        Furthermore he believes anyone can learn a bunch of techniques or information...
                        and that this is not the most impressive skill a programmer can posses and Develop!
                        What truly sets unique individuals apart, he says is only one thing: MINDSET!
                        Mindset, especially in the long-term is EVERYTHING!
                        So we invite you to learn more about him and our team and test his skills,
                        qualifications and mindset. See if we can not only work together,
                        but PROSPER together in synergy! <br /><br />
                        Finally his wish is to see a better world, filled with more people caring about the poor
                        more exciting projects featuring charity and the global evolution of technology for the general mass-market!
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section spad">
            <div class="container text-justify">
                <div class="row">
                    <div class="col-md-7 about-text">
                        <h2>Who is Georgy Despolov?</h2>
                        <span>Georgi Despolov</span>
                        is a software developer at Telerik Academy, where he trains
                        his skills in software engineering, writing high quality code using patterns,
                        data structures and algorithms and the newest technologies, including unit testing.
                        </br></br>
                        He is very practical man but also extremely dedicated to his work.
                        He does not fear hard-working but still prefers doing things the simple way -- the way it Just Works.
                        </br></br>
                        Georgi has accomplished two main projects during his time in the Academy which can be
                        found in the links provided.</br>
                        As a warm-hearted team-player, he has found ways to keep in touch with the
                        development process while having fun during the development stages.
                        </br></br>
                        Georgi is originally from Burgas but is currently living in Sofia.
                        Some of his hobbies include Sports, cooking, german muscle cars and thinking
                        deeply about the meaning of the industry
                        he wishes so eagerly to join! Do not hestitate to contact!
                    </div>
                    <div class="col-md-4 text-center mt-5">
                        <img class="w-75 " src="~/images/georgiavatar.png" alt="">
                        <div class="member-social">
                            <a href="https://gitlab.com/despolov"><i class="fa fa fa-gitlab"></i></a>
                            <a href="http://softworkz.org"><i class="fa fa-globe"></i></a>
                            <a href="https://www.linkedin.com/in/georgi-despolov-3b56b1139/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/Georgi.Despolov"><i class="fa fa-facebook"></i></a>
                            <div class="mt-3">
                                <i class="fa fa-envelope"></i>
                                <span>&nbsp; georgi.despolov@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div><!-- .container -->
</div><!-- .page-content -->