﻿@model Transact.Web.Areas.AppUser.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fully featured and complete ICO Dashboard template for ICO backend management.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- Site Title  -->
    <title>Transact - User Login</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=104">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=104">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body class="page-ath">

    <div class="page-ath-wrap">

        <div class="page-ath-gfx">
            <div class="w-100 ">
                <div class="single-image-banner">
                    @foreach (var image in Model.ActiveBanners)
                    {
                        <a href="#" onclick="window.open('@image.Url')"><img href="@image.Url" src="@image.ImagePath"></a>
                    }

                </div>
            </div>
        </div>
        <div class="page-ath-content">
            <div class="page-ath-header">
                <a asp-controller="Home" asp-action="Index" class="page-ath-logo"><img src="/images/logo.png" srcset="/images/logo2x.png 2x" alt="logo"></a>
            </div>
            <div class="page-ath-form">
                <h2 class="page-ath-heading">Sign in <small>with your Transact Account</small></h2>
                <form asp-controller="Identity" asp-action="Login" method="post" redirectPath="/AppUser/Account/AccountDash" id="login-form">
                    <div class="input-item">
                        <input asp-for="UserName" type="text" value="DemoUser" placeholder="Your Username" class="input-bordered">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="input-item">
                        <input asp-for="Password" type="password" value="DemoP@ssw0rd" placeholder="Password" class="input-bordered">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary btn-block">Sign In</button>
                </form>
            </div>
            <div class="page-ath-footer">
                <ul class="footer-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li>&copy; 2019 Transact</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- JavaScript (include all script here) -->
    <script src="/assets/js/jquery.bundle.js?ver=104"></script>
    <script src="/assets/js/script.js?ver=104"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.2/jquery.validate.unobtrusive.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script src="~/js/appuser-login-banner-rotation-slickVersion.js"></script>

    <script src="~/js/login-submission.js"></script>
</body>
</html>
