﻿@model AccountDashViewModel
@{
    ViewData["Title"] = "AccountDashboard";
    Layout = "~/Areas/AppUser/Views/Shared/_LayoutCustom.cshtml";
}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 aside sidebar-left">
                @if (Model.AllUserAccounts.Count == 0)
                {
                    <div class="card card-navs">
                        <div class="card-innr">
                            <div class="card-head d-lg-block">
                                <h6 class="card-title card-title-md">Please, contact an Admin to get some Accounts atteched for yourself!</h6>
                            </div>
                            <input type="hidden" id="all-accounts-for-user" value="@Model.AllUserAccounts" />
                        </div>                    
                    </div>
                }
                else
                {
                    <div class="card card-navs">
                        <div class="card-innr">
                            <div class="card-head d-lg-block">
                                <h6 class="card-title card-title-md">Accounts Balances</h6>
                            </div>
                            <input type="hidden" id="all-accounts-for-user" value="@Model.AllUserAccounts" />
                        </div>
                        <div id="chart">
                        </div>
                    </div>
                }

            </div>

            <div class="col-lg-9 main-content" id="accounts-listing-holder">
                <div class="card content-area">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">Available Accounts</h4>
                        </div>
                        @if (Model.AllUserAccounts.Count == 0)
                        {
                            <div class="card-body">
                                <h3>Dear User, it looks like you dont have any accounts yet!</h3>
                                <div class="text-center mt-2">
                                    <img class="w-75" src="https://cdn.pixabay.com/photo/2017/11/03/03/27/piggybank-2913293_1280.jpg" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" id="all-user-accounts-hidden" value="@Model.AllUserAccounts" />

                            <table class="mobile-transact-table-scroll data-table user-list">
                                <thead>
                                    <tr class="data-item data-head">
                                        <th class="data-col dt-user">Nickname</th>
                                        <th class="data-col dt-email">Account Number</th>
                                        <th class="data-col dt-email">Client Name</th>
                                        <th class="data-col dt-user">Balance</th>
                                        <th class="data-col"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var account in Model.AllUserAccounts)
                                    {
                                        <tr class="data-item">                                            
                                            <td class="data-col dt-user">
                                                <div class="user-block">
                                                    <div class="user-info">
                                                        <span id="account-listing-nickname-@account.Id" class="lead user-name">@account.NickName</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="data-col dt-user">
                                                <div class="user-block">
                                                    <div class="user-info">
                                                        <span class="lead user-name">@account.AccountNumber</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="data-col dt-user">
                                                <div class="user-block">
                                                    <div class="user-info">
                                                        <span class="lead user-name">@account.ClientName</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="data-col dt-email">
                                                <span class="lead user-name">@account.Balance</span>
                                            </td>
                                            <td class="data-col text-right">
                                                <div class="relative d-inline-block">
                                                    <a href="#" class="btn btn-light-alt btn-xs btn-icon toggle-tigger"><em class="ti ti-more-alt"></em></a>
                                                    <div class="toggle-class dropdown-content dropdown-content-top-left">
                                                        <ul class="dropdown-list">
                                                            <li><a href="/AppUser/Transaction/AddTransaction?preSelectedAccount=@account.Id" id="add-transaction-from-concrete-account-button"><em class="ti ti-control-shuffle"></em>Make Payment</a></li>
                                                            <li><a href="/AppUser/Transaction/ListTransactions?preSelectedAccount=@account.Id" id="view-transactions-for-concrete-account-button"><em class="ti ti-view-list"></em>View Transactions</a></li>
                                                            <li><a href="#" class="rename-nickname-for-concrete-account-button" id="@account.Id"><em class="ti ti-pencil-alt"></em>Rename Account</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><!-- .data-item -->
                                    }
                                </tbody>
                            </table>
                        }
                    </div><!-- .card-innr -->
                </div><!-- .card -->
            </div>
        </div>
    </div><!-- .container -->
</div><!-- .page-content -->

<span id="anti-forgery-span-for-acc-dash">@Html.AntiForgeryToken()</span>

@section Scripts{

    <script>
        var jsonAccounts = @Html.Raw(Json.Serialize(Model.AllUserAccounts));
    </script>

    <script src="/assets/js/jquery.bundle.js?ver=104"></script>
    <script src="/assets/js/script.js?ver=104"></script>
    <script src="~/js/renaming-accounts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.6.12/apexcharts.min.js"></script>
    <script src="/js/pie-chart-for-accounts-balances.js"></script>
}