﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transact</title>
    <meta charset="UTF-8">
    <meta name="description" content="Transact banking">
    <meta name="keywords" content="transactions, banking, secure, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/images/favicon.png" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/landingPage/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/landingPage/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/landingPage/css/themify-icons.css" />
    <link rel="stylesheet" href="/landingPage/css/owl.carousel.css" />
    <link rel="stylesheet" href="/landingPage/css/style.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section -->
    <header class="header-section clearfix">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="site-logo">
                <img src="~/images/logo.png" alt="">
            </a>
            <div class="responsive-bar"><i class="fa fa-bars"></i></div>
            <a href="" class="user"><i class="fa fa-user"></i></a>
            <a asp-area="AppUser" asp-controller="Dashboard" asp-action="LoginPage" class="site-btn">Customer Login</a>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li><a asp-area="Admin" asp-controller="Home" asp-action="AdminLogin">Admin Login</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Back to Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header section end -->
    <!-- Page info section -->
    <section class="page-info-section">
        <div class="container">
            <h2>About & Contacts</h2>
            <div class="site-beradcamb">
                <a href="">Home</a>
                <i class="fas fa-forward"></i></i>About and Contacts</span>
            </div>
        </div>
    </section>
    <!-- Page info end -->
    <!-- About section -->  
    <section class="about-section spad">
        <div class="container">
            <div class="mb-5 col-md-12 text-capitalize text-center">
                <h2>Web App Made by <a href="http://softworkz.org"><span>Team SoftWorkz!</span></a></h2> <br />
                <h3><img src="~/images/trophy2.png"> &nbsp; Telerik Academy Final Project First Place Awarded!</h3><br />
            </div>

            <div class="row">

                <div class="container col-sm-12">
                    <div>
                        <h3>
                            Project Details:
                        </h3>
                        <hr />
                        <p>
                            Project is hosted in Azure and features a Three-Layer architecture:
                            <ul>
                                <li>
                                    Presentation Layer: consists of ASP.NET Core 2.2 Web Project with fully responsive beautiful design.
                                </li>
                                <li>
                                    Business Layer: Services and business features processing class library.
                                </li>
                                <li>
                                    Data Layer: Holding the configuration for the data-base and additional mappings of table-relationships.
                                </li>
                                <li>
                                    Custom mappers and DtoObjects transferring data from one layer to another.
                                </li>
                            </ul>
                            App features Custom JSON-Web-Tokenization system for authentication and authorization.<br />
                            Thorough unit testing for the services and business features covering more than 90% the whole app!<br />
                            Server side Pagination WITH java-script based dom elements manipulation for amazing customer experience without any page refreshes for various tables and forms.<br />
                            The Website allows the client to login and manage all of his resources.<br />
                            Most of the requests are Ajax based to enable beautiful handling of errors and model-state for various forms and situations.<br />
                            Project includes caching for some parts of its Collections to lower the database trips. <br />
                            Project was developed using end-to-end Feature branches (left un-deleted in the git-system for the purpose of showcasing the process)!
                        </p>
                        <hr />
                        <h5>Admins can:</h5>
                        <p>
                            <ul>
                                <li>
                                    Enjoy the Admin Dashboard after login, providing basic recent activity with in-memory caching to reduce data-base trips for EVERY admin that logs.
                                </li>
                                <li>
                                    Get listing of all Users by last added and paginate on the server while changing the table with javascript without page-refreshing.
                                </li>
                                <li>
                                    Add Users and Clients with ajax form and enjoy model-uninteruptive response about already taken names or invalid form submissions.
                                </li>
                                <li>
                                    List newly added users immediatelly with javascript inside dynamically updated table.
                                </li>
                                <li>
                                    Server-Side pagination on Users, Clients, Banners and Attatched Accounts tables with beautiful javascript dom manipulation allowing updates of records without page refreshes.
                                </li>
                                <li>
                                    Add clients for application to use as base for accounts being attatched and managed between users.
                                </li>
                                <li>
                                    Search for users to attatch (and attatch them) to clients via Javascript autocomplete using ajax remote source (server request) for the data, updating listing dynamically with javascript (again).
                                </li>

                                <li>
                                    Search for accounts to attatch (and attatch them) to clients via Javascript autocomplete using ajax remote source (server request) for the data.
                                </li>
                                <li>
                                    Remove Users from Clients Or Accounts from Users.
                                </li>
                                <li>
                                    Add, delete and remove banners, giving start and ending date for each one of them to be active on the user login page.
                                </li>
                            </ul>
                        </p>
                        <h5>Users Can:</h5>
                        <p>
                            <ul>
                                <li>
                                    Enjoy advertising banners from the app management with promotational links on click.
                                </li>
                                <li>
                                    Find beautiful chart-pie of all their accounts' balances inside the account dash.
                                </li>
                                <li>
                                    Have a listing of all their accounts with additional info for each of them.
                                </li>
                                <li>
                                    Inside Account Dash - click and view all of the Accounts Transactions.
                                </li>
                                <li>
                                    Inside Account Dash - click and initiate a new transaction with the account as pre-selected for Sender.
                                </li>
                                <li>
                                    Edit saved transactions or just directly send them.
                                </li>
                                <li>
                                    Inside Account Dash - click and edit their Personal Nickname for that account regardless of whom it's shared with.
                                </li>
                                <li>
                                    List all of their transactions inside responsive table by selecting some of the accounts they have at their disposal.
                                </li>
                                <li>
                                    Browse the listed transactions in beautiful responsive table with Server-Side pagination
                                </li>
                                <li>
                                    Read the nicknames of only the accounts they own but not the ones they do not yet have transactions towards/from.
                                </li>
                            </ul>
                    </div>
                    <hr />
                </div>

            </div>
</section>
    <!-- About section end -->

    <section class="about-section spad">
        <div class="container text-justify">
            <div class="row">
                <div class="col-md-4 text-center mt-5">
                    <img class="w-75" src="~/images/dimitarmihov.png" alt="">
                    <div class="member-social">
                        <a href="https://gitlab.com/dimitarmihov"><i class="fa fa fa-gitlab"></i></a>
                        <a href="http://softworkz.org"><i class="fa fa-globe"></i></a>
                        <a href="https://www.linkedin.com/in/dmihov/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/dimitar.mihov.52"><i class="fa fa-facebook"></i></a>
                        <div class="mt-3">
                            <i class="fa fa-envelope"></i>
                            <span>&nbsp; dimitar.mihov.bg@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 about-text">
                    <h2>Who is Dimitar Mihov?</h2>

                    <span>Dimtiar Mihov</span>
                    is professional passionate about software development!
                    Quality programming code is his priority!
                    Always striving towards technical proficiency and producing quality products.
                    You can review his projects after clicking on the contact links on the left.
                    Dimitar has spent 2 years learning from the old Telerik Academy and placing
                    he foundation for his knowledge. <br /><br />
                    Right now he is in the process of graduating Telerik Alpha
                    academy and along with his colleague and team-mate Georgi Despolov
                    is determined to embark on the journey of the IT industry.
                    Dimtiar has graduated from the High-School of Mathematics and
                    Biology in the city of Burgas and currently resides in Sofia. <br /><br />
                    A real team-player commited to self-sacrifice in the name of the mutual success!<br /><br />
                    Furthermore he believes anyone can learn a bunch of techniques or information...
                    and that this is not the most impressive skill a programmer can posses and Develop!
                    What truly sets unique individuals apart, he says is only one thing: MINDSET!
                    Mindset, especially in the long-term is EVERYTHING!
                    So we invite you to learn more about him and our team and test his skills,
                    qualifications and mindset. See if we can not only work together,
                    but PROSPER together in synergy! <br /><br />
                    Finally his wish is to see a better world, filled with more people caring about the poor
                    more exciting projects featuring charity and the global evolution of technology for the general mass-market!
                </div>
            </div>
        </div>
    </section>

    <section class="about-section spad">
        <div class="container text-justify">
            <div class="row">
                <div class="col-md-7 about-text">
                    <h2>Who is Georgy Despolov?</h2>
                    <span>Georgi Despolov</span>
                    is a software developer at Telerik Academy, where he trains
                    his skills in software engineering, writing high quality code using patterns,
                    data structures and algorithms and the newest technologies, including unit testing.
                    </br></br>
                    He is very practical man but also extremely dedicated to his work.
                    He does not fear hard-working but still prefers doing things the simple way -- the way it Just Works.
                    </br></br>
                    Georgi has accomplished two main projects during his time in the Academy which can be
                    found in the links provided.</br>
                    As a warm-hearted team-player, he has found ways to keep in touch with the
                    development process while having fun during the development stages.
                    </br></br>
                    Georgi is originally from Burgas but is currently living in Sofia.
                    Some of his hobbies include Sports, cooking, german muscle cars and thinking
                    deeply about the meaning of the industry
                    he wishes so eagerly to join! Do not hestitate to contact!
                </div>
                <div class="col-md-4 text-center mt-5">
                    <img class="w-75 " src="~/images/georgiavatar.png" alt="">
                    <div class="member-social">
                        <a href="https://gitlab.com/despolov"><i class="fa fa fa-gitlab"></i></a>
                        <a href="http://softworkz.org"><i class="fa fa-globe"></i></a>
                        <a href="https://www.linkedin.com/in/georgi-despolov-3b56b1139/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/Georgi.Despolov"><i class="fa fa-facebook"></i></a>
                        <div class="mt-3">
                            <i class="fa fa-envelope"></i>
                            <span>&nbsp; georgi.despolov@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fact section -->
    <section class="fact-section gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="fact">
                        <h2>12</h2>
                        <p>Supported <br> Countries</p>
                        <i class="ti-basketball"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="fact">
                        <h2>15K</h2>
                        <p>Transactions  <br> per hour</p>
                        <i class="ti-panel"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="fact">
                        <h2>4</h2>
                        <p>Years <br> of Experience</p>
                        <i class="ti-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fact section end -->
    <section class="review-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 push-8">
                    <img src="/landingPage/img/quote.png" alt="" class="quote mb-5">
                    <div class="review-text-slider owl-carousel">
                        <div class="review-text">
                            <p>"Transact is my way to go financial system because of its simplicity and design. In our field where we work with a lot of cryptos, we have learned to value security and simplicty over any other gimmick out there. Transact really delviers on those two and will always be my go-to choice for making Transactions.”</p>
                        </div>
                        <div class="review-text">
                            <p>"I feel at home here. The security, the support - its outstanding. Really makes you feel comfortable. And as a person who likes to have it easy, Transact really makes me very happy. Definitely recommended!”</p>
                        </div>
                        <div class="review-text">
                            <p>"Transactions do not have to be hard or slow. And since financial management is all about being digital these days, services like Transact's offerings make things easy and enjoyable in this field!”</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pr-0 pull-3">
                    <div class="review-meta-slider owl-carousel pt-5">
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg="/landingPage/img/review/1.jpg"></div>
                            <div class="author-name">
                                <h4>Aaron Ballance</h4>
                                <p>Ceo Bitcoin</p>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg="/landingPage/img/review/2.jpg"></div>
                            <div class="author-name">
                                <h4>Jackson Nash</h4>
                                <p>Head of Design</p>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg="/landingPage/img/review/3.jpg"></div>
                            <div class="author-name">
                                <h4>Katy Abrams</h4>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter section -->

    <section class="newsletter-section gradient-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-12 newsletter-text">
                    <h2>Make sure to use your system wisely!</h2>
                    <p>Transact does not hold any responsibility over mis-management of your funds.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter section end -->
    <!-- Footer section -->
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row spad">
                <div class="col-md-12 col-lg-12 footer-widget">
                    <p>This landing page's design is based on ColorLib's work. ColorLib has our utmost gratitude for providing free resources and assets for creating outstanding visual works!</p>
                    <span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                    <div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== Javascripts & Jquery ======-->
    <script src="/landingPage/js/jquery-3.2.1.min.js"></script>
    <script src="/landingPage/js/owl.carousel.min.js"></script>
    <script src="/landingPage/js/main.js"></script>
</body>
</html>
