﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transact</title>
    <meta charset="UTF-8">
    <meta name="description" content="Transact banking">
    <meta name="keywords" content="transactions, banking, secure, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/images/favicon.png" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/landingPage/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/landingPage/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/landingPage/css/themify-icons.css" />
    <link rel="stylesheet" href="/landingPage/css/animate.css" />
    <link rel="stylesheet" href="/landingPage/css/owl.carousel.css" />
    <link rel="stylesheet" href="/landingPage/css/style.css" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="site-logo">
                <img src="~/images/logo.png" alt="">
            </a>
            <div class="responsive-bar"><i class="fa fa-bars"></i></div>
            <a asp-area="AppUser" asp-controller="Dashboard" asp-action="LoginPage" class="user"><i class="fa fa-user"></i></a>
            <a asp-area="AppUser" asp-controller="Dashboard" asp-action="LoginPage" class="site-btn">Customer Login</a>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li><a asp-area="Admin" asp-controller="Home" asp-action="AdminLogin">Admin Login</a></li>
                    <li><a asp-controller="Home" asp-action="About">About & Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hero-text">
                    <h2>Invest in <span>Your Future</span> <br> with Transact services</h2>
                    <h4>Use modern progressive technologies to handle your money</h4>
                    <form class="hero-subscribe-from">
                        <button asp-area="AppUser" asp-action="LoginPage" asp-controller="Dashboard" class="site-btn sb-gradients">Get Started</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <img src="/landingPage/img/laptop3.png" class="laptop-image" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- About section -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 about-text">
                    <h2>What is Transact</h2>
                    <h5>Transact is innovative way to control your funds.</h5>
                    <p>
                        One of the most important aspect of humans is the our financial security.
                        Handling the monetary transactions that allow us to enjoy the world is important aspect of our daily lives.
                        We believe Transact offers the ability to share and receive that very important part of our suvrival and prosperity - money - the medium that allows trade more freely than ever in this 21 digitally-fueled era.
                    </p>
                    <a href="" class="site-btn sb-gradients sbg-line mt-5">More about the project</a>
                </div>
            </div>
            <div class="about-img">
                <img src="/landingPage/img/about-img.png" alt="">
            </div>
        </div>
    </section>
    <!-- About section end -->
    <!-- Features section -->
    <section class="features-section spad gradient-bg">
        <div class="container text-white">
            <div class="section-title text-center">
                <h2>Our Features</h2>
                <p>Transact is the simplest way to exchange money at very low cost.</p>
            </div>
            <div class="row">
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-mobile"></i>
                    <div class="feature-content">
                        <h4>Mobile Friendly</h4>
                        <p>Our web app is guaranteed to work on any smart device both in terms of aesthetic design and network performance. </p>
                        <a asp-controller="Home" asp-action="About" class="readmore">Readmore</a>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-shield"></i>
                    <div class="feature-content">
                        <h4>Safe & Secure</h4>
                        <p>Our security system ensures no one can mishandle your money or access any private levels of your account.</p>
                        <a asp-controller="Home" asp-action="About" class="readmore">Readmore</a>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-wallet"></i>
                    <div class="feature-content">
                        <h4>Wallet</h4>
                        <p>Our system offers the ability to hold many accounts and create new and secure transactions between all of the banking network. </p>
                        <a asp-controller="Home" asp-action="About" class="readmore">Readmore</a>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-headphone-alt"></i>
                    <div class="feature-content">
                        <h4>Experts Support</h4>
                        <p>Our team offers 24/7 support and is always available to troubleshoot any customer needs. Do not hesitate to contact us! </p>
                        <a asp-controller="Home" asp-action="About" class="readmore">Readmore</a>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-reload"></i>
                    <div class="feature-content">
                        <h4>Instant Exchange</h4>
                        <p>The speed and power our app offers guarantees your customer experience will always be snappy and transactions will be visible instantly on both ends. </p>
                        <a asp-controller="Home" asp-action="About" class="readmore">Readmore</a>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-md-6 col-lg-4 feature">
                    <i class="ti-panel"></i>
                    <div class="feature-content">
                        <h4>Saving Transactions</h4>
                        <p>We are happy to announce you can now save transactions for later payment making planning more flexible and accessible while using Transact. </p>
                        <a asp-controller="Home" asp-action="About" class="readmore">Readmore</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features section end -->
    <!-- Process section -->
    <section class="process-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h2>Get Started With Transact</h2>
                <p>Start sending and receiving your hard earned cash the smart way, using Transact. It’s fun, easy, and takes only a few minutes! </p>
            </div>
            <div class="row">
                <div class="col-md-4 process">
                    <div class="process-step">
                        <figure class="process-icon">
                            <img src="/landingPage/img/process-icons/2.png" alt="#">
                        </figure>
                        <h4>Get Registered</h4>
                        <p>Make sure to get your user account registered by some of our managers via our offerings. </p>
                    </div>
                </div>
                <div class="col-md-4 process">
                    <div class="process-step">
                        <figure class="process-icon">
                            <img src="/landingPage/img/process-icons/1.png" alt="#">
                        </figure>
                        <h4>Get Assigned Account</h4>
                        <p>You can then get personal account or perhaps a company account shared between your colleagues. </p>
                    </div>
                </div>
                <div class="col-md-4 process">
                    <div class="process-step">
                        <figure class="process-icon">
                            <img src="/landingPage/img/process-icons/3.png" alt="#">
                        </figure>
                        <h4>Enjoy Digital Transactions</h4>
                        <p>Finally make the world yours. Having the freedom to manage your funds digitally is a must in 21 century! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process section end -->
    <!-- Fact section -->
    <section class="fact-section gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="fact">
                        <h2>12</h2>
                        <p>Supported <br> Countries</p>
                        <i class="ti-basketball"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="fact">
                        <h2>15K</h2>
                        <p>Transactions  <br> per hour</p>
                        <i class="ti-panel"></i>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="fact">
                        <h2>4</h2>
                        <p>Years <br> of Experience</p>
                        <i class="ti-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fact section end -->
    <!-- Team section -->
    <section class="team-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h2>Meet Our Team</h2>
                <p>Our experts in the field of digital banking can always help you with any of your questions!</p>
            </div>
        </div>
        <div class="team-members clearfix member-blocks-custom-holder">
            <!-- Team member -->
            <div class="member member-blocks-custom">
                <div class="member-text">
                    <div class="member-img set-bg" data-setbg="/landingPage/img/member/dmihov.jpg"></div>
                    <h2>Dimitar Mihov</h2>
                    <span>Main Developer</span>
                </div>
                <div class="member-social">
                    <a href="https://gitlab.com/dimitarmihov"><i class="fa fa fa-gitlab"></i></a>
                    <a href="https://www.linkedin.com/in/dmihov/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/dimitar.mihov.52"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="member-info">
                    <div class="member-img mf set-bg" data-setbg="/landingPage/img/member/dmihov.jpg"></div>
                    <div class="member-meta">
                        <h2>Dimitar Mihov</h2>
                        <span>Main Developer</span>
                    </div>
                    <p>Dimitar Mihov is professional passionate about software development! Quality programming code is his priority! Always striving towards technical proficiency and producing quality products. You can review his projects after clicking on the contact links on the left. Dimitar has spent 2 years learning from the old Telerik Academy and placing he foundation for his knowledge. </p>
                </div>
            </div>

            <div class="member member-blocks-custom">
                <div class="member-text">
                    <div class="member-img set-bg" data-setbg="/landingPage/img/member/gdespolov.jpg"></div>
                    <h2>Georgy Despolov</h2>
                    <span>Main Developer</span>
                </div>
                <div class="member-social">
                    <a href="https://gitlab.com/despolov"><i class="fa fa-gitlab"></i></a>
                    <a href="https://www.linkedin.com/in/georgi-despolov-3b56b1139/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/Georgi.Despolov"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="member-info">
                    <div class="member-img mf set-bg" data-setbg="/landingPage/img/member/gdespolov.jpg"></div>
                    <div class="member-meta">
                        <h2>Georgy Despolov</h2>
                        <span>Main Developer</span>
                    </div>
                    <p>Georgi Despolov is a software developer at Telerik Academy, where he trains his skills in software engineering, writing high quality code using patterns, data structures and algorithms and the newest technologies, including unit testing. He is very practical man but also extremely dedicated to his work. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team section -->
    <!-- Review section -->
    <section class="review-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 push-8">
                    <img src="/landingPage/img/quote.png" alt="" class="quote mb-5">
                    <div class="review-text-slider owl-carousel">
                        <div class="review-text">
                            <p>"Transact is my way to go financial system because of its simplicity and design. In our field where we work with a lot of cryptos, we have learned to value security and simplicty over any other gimmick out there. Transact really delviers on those two and will always be my go-to choice for making Transactions.”</p>
                        </div>
                        <div class="review-text">
                            <p>"I feel at home here. The security, the support - its outstanding. Really makes you feel comfortable. And as a person who likes to have it easy, Transact really makes me very happy. Definitely recommended!”</p>
                        </div>
                        <div class="review-text">
                            <p>"Transactions do not have to be hard or slow. And since financial management is all about being digital these days, services like Transact's offerings make things easy and enjoyable in this field!”</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pr-0 pull-3">
                    <div class="review-meta-slider owl-carousel pt-5">
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg="/landingPage/img/review/1.jpg"></div>
                            <div class="author-name">
                                <h4>Aaron Ballance</h4>
                                <p>Ceo Bitcoin</p>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg="/landingPage/img/review/2.jpg"></div>
                            <div class="author-name">
                                <h4>Jackson Nash</h4>
                                <p>Head of Design</p>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg="/landingPage/img/review/3.jpg"></div>
                            <div class="author-name">
                                <h4>Katy Abrams</h4>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review section end -->
    <!-- Newsletter section -->
    <section class="newsletter-section gradient-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-12 newsletter-text">
                    <h2>Make sure to use your system wisely!</h2>
                    <p>Transact does not hold any responsibility over mis-management of your funds.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row spad">
                <div class="col-md-12 col-lg-12 footer-widget">
                    <p>This landing page's design is based on ColorLib's work. ColorLib has our utmost gratitude for providing free resources and assets for creating outstanding visual works!</p>
                    <span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
        </div>
    </footer>



    <!--====== Javascripts & Jquery ======-->
    <script src="/landingPage/js/jquery-3.2.1.min.js"></script>
    <script src="/landingPage/js/owl.carousel.min.js"></script>
    <script src="/landingPage/js/main.js"></script>
</body>
</html>
