﻿@model FiveAccountsViewModel

<table class="mobile-transact-table-scroll data-table account-list" id="account-table-list-by-id">
    <thead>
        <tr class="data-item data-head">
            <th class="data-col dt-user">Account/Id</th>
            <th class="data-col dt-user">Nickname</th>
            <th class="data-col dt-user">Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.FiveAccountsList)
        {
            <tr class="data-item">
                <td class="data-col dt-account">
                    <span class="lead account-name">@account.AccountNumber</span>
                    <span class="sub account-id">Id: #@account.Id</span>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">@account.NickName</span>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">@account.Balance</span>
                </td>
            </tr><!-- .data-item -->
        }
    </tbody>
</table>

@if (Model.PrevPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-table-button" at="@Model.PrevPage">Prev</a>
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-table-button" at="@Model.PrevPage">@Model.PrevPage</a>
}

<button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

@if (Model.NextPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-table-button" at="@Model.NextPage">@Model.NextPage</a>
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-table-button" at="@Model.NextPage">Next</a>
}

