﻿@model ManageClientAccountsViewModel
@{
    ViewData["Title"] = "_AccountsManagePartial";
}

<div class="card content-area">
    <div class="card-innr">
        <div class="card-head">
            <h6 class="card-title">Add new Account</h6>
        </div>
        <div class="gaps-1x"></div><!-- .gaps -->
        <form id="submit-account-form" asp-area="Admin" asp-controller="Account" asp-action="CreateAccount" class="row">
            <div class="col-md-6">
                <div class="input-item input-with-label">
                    <label class="input-item-label">Initial Balance</label>
                    <input asp-for="Balance" class="input-bordered" type="number" value="@Model.DefaultAccountBalance">
                    <span asp-validation-for="Balance" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <input asp-for="ClientId" id="client-id-input-hidden" type="hidden" name="ClientId" value="@Model.ClientId" />
                <div class="input-item input-with-label">
                    <label class="input-item-label">If added correctly it will appear bottom!</label>
                    <button type="submit" href="#" class="btn btn-primary btn-block" id="add-account-button">Click to Create Account</button>
                </div>
            </div>
        </form>
    </div><!-- .card-innr -->
</div><!-- .card -->

<div class="card content-area">
    <div class="card-innr" id="target-account-list-table">
        @await Html.PartialAsync("_AccountsListTable", Model.FiveAccountsList)
    </div><!-- .card-innr -->
</div><!-- .card -->



