﻿@model FiveBannersViewModel
<table class="data-table user-list mobile-transact-table-scroll" id="user-table-list-by-id">
    @if (Model.FiveBannersList.Count > 0)
    {
        <thead>
            <tr class="data-item data-head">          
                <th class="data-col ">Image</th>
                <th class="data-col ">Banner Url Link</th>
                <th class="data-col ">Start / End Date</th>
                <th class="data-col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var banner in Model.FiveBannersList)
            {
                <tr class="data-item">
                    <td class="data-col" style="width: 15%;">
                        <img src="@banner.ImagePath" />                   
                    </td>
                    <td class="data-col">
                        <a class="sub" href="@banner.Url">@banner.Url</a>
                    </td>

                    <td class="data-col">
                        <span class="lead sub-time">@banner.StartDate.ToString("dd MMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                        <span class="sub sub-s2 sub-time">@banner.EndDate.ToString("dd MMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                    </td>
                    <td class="data-col text-right">
                        <div class="relative d-inline-block">
                            <a href="#" class="btn btn-light-alt btn-xs btn-icon toggle-tigger"><em class="ti ti-more-alt"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-top-left">
                                <ul class="dropdown-list">
                                    <li><form method="post"><button class="editButton btn btn-auto" type="submit" asp-route-id="@banner.Id" asp-area="Admin" asp-controller="Banner" asp-action="EditBanner"><em class="ti ti-list"> &nbsp; </em>Edit</button></form></li>
                                    <li><a href="#" id="delete-banner-button-@banner.Id" bannerId="@banner.Id" class="banner-delete-button-class"><em class="ti ti-trash"></em>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr><!-- .data-item -->
            }
        </tbody>    
    }
</table>

<span id="anti-forgery-token-banners">@Html.AntiForgeryToken()</span>

@if (Model.FiveBannersList.Count == 0)
{
    <div class="card-body">
        <h3>No banners in the app yet! We gotta work on that sponsors list, boss!</h3>
    </div>
}
else
{
    @if (Model.PrevPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
    }
    else
    {
        <a class="btn btn-sm btn-lighter btn-auto banner-pagination-buttons" at="@Model.PrevPage">Prev</a>
        <a class="btn btn-sm btn-lighter btn-auto banner-pagination-buttons" at="@Model.PrevPage">@Model.PrevPage</a>
    }

    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

    @if (Model.NextPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
    }
    else
    {
        <a class="btn btn-sm btn-lighter btn-auto banner-pagination-buttons" at="@Model.NextPage">@Model.NextPage</a>
        <a class="btn btn-sm btn-lighter btn-auto banner-pagination-buttons" at="@Model.NextPage">Next</a>
    }
}