﻿@model ClientListViewModel

<table class="mobile-transact-table-scroll data-table client-list" id="client-table-list-by-id">
    <thead>
        <tr class="data-item data-head">
            <th class="data-col dt-user">Id</th>
            <th class="data-col dt-user">Name</th>
            <th class="data-col dt-token">Manage Client</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Client in Model.FiveClientsById)
        {
           
        <tr class="data-item">
            <td class="data-col dt-client">
                <span class="sub client-id">Id: #@Client.Id</span>
            </td>
            <td class="data-col dt-client">
                <span class="lead client-name">@Client.Name</span>
            </td>
            <td class="data-col dt-client">
                <div class="flex-col"><a class="btn btn-sm btn-primary-alt btn-auto" href="/Admin/Client/ManageClient?=@Client.Id" data-id="@Client.Id">Client Details</a></div>
            </td>
        </tr><!-- .data-item -->              
            
        }
    </tbody>

</table>


@if (Model.PrevPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PrevPage">Prev</a>
    <a class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PrevPage">@Model.PrevPage</a>
}

<button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

@if (Model.NextPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="@Model.NextPage">@Model.NextPage</a>
    <a class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="@Model.NextPage">Next</a>
}