﻿@model FiveUsersViewModel

<table class="mobile-transact-table-scroll data-table clientUsers-list" id="clientUsers-table-list-by-id">
    <thead>
        <tr class="data-item data-head">
            <th class="data-col dt-clientUsers">UserName/Id</th>
            <th class="data-col dt-clientUsers">Name</th>
            <th class="data-col dt-clientUsers">User Details</th>
            <th class="data-col dt-clientUsers">Unassign user</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.FiveUsersList)
        {
            <tr class="data-item">
                <td class="data-col dt-account">
                    <span class="lead account-name">@user.UserName</span>
                    <span class="sub account-id">Id: #@user.Id</span>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">@user.Name</span>
                </td>
                <td class="data-col dt-client">
                    <div class="flex-col"><a class="btn btn-sm btn-primary-alt btn-auto" href="/Admin/User/ManageUser?=@user.Id" data-id="@user.Id">User Details</a></div>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">
                        <a class="text-danger unassign-user-from-client-button" href="#" clientId="@Model.ClientId" userId="@user.Id">✖</a>
                    </span>
                </td>
            </tr><!-- .data-item -->
        }

    </tbody>
</table>

<span id="anti-forgery-for-user-unassign">@Html.AntiForgeryToken()</span>

@if (Model.PrevPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto pagination-user-client-button-table" at="@Model.PrevPage">Prev</a>
    <a class="btn btn-sm btn-lighter btn-auto pagination-user-client-button-table" at="@Model.PrevPage">@Model.PrevPage</a>
}

<button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

@if (Model.NextPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto pagination-user-client-button-table" at="@Model.NextPage">@Model.NextPage</a>
    <a class="btn btn-sm btn-lighter btn-auto pagination-user-client-button-table" at="@Model.NextPage">Next</a>
}