﻿@model UserListViewModel

<table class="data-table user-list mobile-transact-table-scroll" id="user-table-list-by-id">
    <thead>
        <tr class="data-item data-head">
            <th class="data-col dt-user">Id</th>
            <th class="data-col dt-user">UserName</th>
            <th class="data-col dt-user">Full Name</th>
            <th class="data-col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var User in Model.FiveUsersById)
        {
        <tr class="data-item">
            <td class="data-col dt-user">
                <span class="sub sub-s2 user-name">Id: #@User.Id</span>
            </td>
            <td class="data-col dt-user">
                <span class="lead user-name">@User.UserName</span>
                @*<span class="sub user-id">Id: #@User.Id</span>*@
            </td>
            <td class="data-col dt-user">
                <span class="sub sub-s2 user-name">@User.Name</span>
            </td>
            <td class="data-col text-right">
                <div class="flex-col"><a class="btn btn-sm btn-primary-alt btn-auto" href="/Admin/User/ManageUser?=@User.Id" data-id="@User.Id">User Details</a></div>
            </td>
        </tr><!-- .data-item -->
        }
    </tbody>
</table>


@if (Model.PrevPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PrevPage">Prev</a>
    <a class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PrevPage">@Model.PrevPage</a>
}

<button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

@if (Model.NextPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="@Model.NextPage">@Model.NextPage</a>
    <a class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="@Model.NextPage">Next</a>
}