﻿@model FiveAccountsViewModel

<table class="mobile-transact-table-scroll data-table userAccounts-list" id="userAccounts-table-list-by-id">
    <thead>
        <tr class="data-item data-head">
            <th class="data-col dt-user">Account/Id</th>
            <th class="data-col dt-user">Balance</th>
            <th class="data-col dt-user">Client</th>
            <th class="data-col dt-clientUsers">Unassign account</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var account in Model.FiveAccountsList)
        {
            <tr class="data-item">
                <td class="data-col dt-account">
                    <span class="lead account-name">@account.AccountNumber</span>
                    <span class="sub account-id">Id: #@account.Id</span>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">@account.Balance</span>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">@account.ClientName</span>
                </td>
                <td class="data-col dt-account">
                    <span class="lead account-name">
                        <a class="text-danger unassign-account-from-user-button" href="#" userId="@Model.UserId" accountId="@account.Id">✖</a>
                    </span>
                </td>
            </tr><!-- .data-item -->
        }

    </tbody>
</table>

<span id="anti-forgery-for-account-for-user-unassign">@Html.AntiForgeryToken()</span>

@if (Model.PrevPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-user-button-table" at="@Model.PrevPage">Prev</a>
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-user-button-table" at="@Model.PrevPage">@Model.PrevPage</a>
}

<button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

@if (Model.NextPage == null)
{
    <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
}
else
{
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-user-button-table" at="@Model.NextPage">@Model.NextPage</a>
    <a class="btn btn-sm btn-lighter btn-auto pagination-account-user-button-table" at="@Model.NextPage">Next</a>
}