﻿@model ManageClientUsersViewModel
@{
    ViewData["Title"] = "_UserManagePartial";
}


<div class="card content-area">
    <div class="card-innr">
        <div class="card-head">
            <h6 class="card-title">Assign existing User</h6>
        </div>
        <div class="gaps-1x"></div><!-- .gaps -->
        <form id="assign-user-for-client-form" asp-controller="Client" asp-action="AssignUserToClient" class="row">
            <div class="col-md-6">
                <div class="input-item input-with-label">
                    <label class="input-item-label">Select existing User</label>
                    <input asp-for="UserName" class="input-bordered" id="input-for-userClient" type="text" placeholder="Live Search for User" />
                    <span asp-validation-for="UserName" id="message" class="text-danger"></span>
                </div>                
            </div>
            <div class="col-md-6">
                <input asp-for="ClientId" id="client-id-for-adding-user-hidden" type="hidden" name="ClientId" value="@Model.ClientId" />
                <div class="input-item input-with-label">
                    <label class="input-item-label">If added correctly it will appear bottom!</label>
                    <button type="submit" href="#" class="btn btn-primary btn-block" id="assign-user-to-client-button">Click to Assign User</button>
                </div>
            </div>
        </form>
    </div><!-- .card-innr -->
</div><!-- .card -->

<div class="card content-area">
    <div class="card-innr" id="clientUsers-list-table-holder">
        @await Html.PartialAsync("_ClientUsersListTable", Model.FiveUsersList)
    </div><!-- .card-innr -->
</div><!-- .card -->

<script src="~/js/find-users-jquery-select2-version.js"></script>
<script src="~/js/manage-usersForClients-pagination-table-buttons.js"></script>