﻿@model ManageUserAccountsViewModel
@{
    ViewData["Title"] = "_UserAccountsManagePartial";
}

<div class="card content-area">
    <div class="card-innr">
        <div class="card-head">
            <h6 class="card-title">Assign existing Accounts</h6>
        </div>
        <div class="gaps-1x"></div><!-- .gaps -->
        <form id="assign-account-for-user-form" asp-controller="User" asp-action="AssignAccountToUser" class="row">
            <div class="col-md-6">
                <div class="input-item input-with-label">
                    <label class="input-item-label">Select existing Account</label>
                    <input asp-for="AccountNumber" class="input-bordered" id="input-for-userAccounts" type="text" placeholder="Live Search for Accounts" />
                    <span asp-validation-for="AccountNumber" id="message" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <input asp-for="UserId" id="user-id-for-assigning-account-hidden" type="hidden" name="UserId" value="@Model.UserId" />
                <div class="input-item input-with-label">
                    <label class="input-item-label">If added correctly it will appear bottom!</label>
                    <button type="submit" href="#" class="btn btn-primary btn-block" id="assign-user-to-client-button">Click to Assign Account</button>
                </div>
            </div>
        </form>
    </div><!-- .card-innr -->
</div><!-- .card -->

<div class="card content-area">
    <div class="card-innr" id="userAccounts-list-table-holder">
        @await Html.PartialAsync("_UserAccountsListTable", Model.FiveAccountsList)
    </div><!-- .card-innr -->
</div><!-- .card -->